<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://discus.bibek.co.uk/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://discus.bibek.co.uk:8172/MsDeploy.axd?site=bthapa7-001-subsite3</MSDeployServiceURL>
    <DeployIisAppPath>bthapa7-001-subsite3</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>bthapa7-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DiscusEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=sql6009.site4now.net;Initial Catalog=DB_A50BD4_Discus;User ID=DB_A50BD4_Discus_admin;Password=IllusionofI@D1;TrustServerCertificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DiscusFish.Models.DiscusEntities, DiscusFish" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DiscusEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sql6009.site4now.net;Initial Catalog=DB_A50BD4_Discus;User ID=DB_A50BD4_Discus_admin;Password=IllusionofI@D1;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>